<!--
  Generated template for the GmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>gmap</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div id="map" #map></div>

</ion-content>
